<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    </head>

    <body>
        <h1>Library Management System</h1>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                             <form #myForm="ngForm">
                                <div class="form-group">
                                    <label for="Student Id">
                                        Student Id
                                    </label>
                                    <input type="text" 
                                           class="form-control" name="stuId" #stuId="ngModel" ngModel/>
                                           <div *ngIf="stuId.touched">
                                            <div *ngIf="stuId.errors?.['required']">
                                              <b style="color: red;">Student Id Required</b>
                                            </div>
                                            <div *ngIf="stuId.errors?.['pattern']">
                                              <font color="red"><b>Invalid Student Id</b></font>
                                            </div>
                                          </div>
                                </div>




                                <div class="form-group">
                                    <label for="Student Name">
                                        Student Name
                                    </label>
                                    <input type="text" 
                                           class="form-control" 
                                           name="stuName" 
                                           #stuName="ngModel" ngModel required pattern="[a-zA-Z]+"/>

                                           <div *ngIf="stuName.touched">
                                            <div *ngIf="stuName.errors?.['required']">
                                              <b style="color: red;">Student Name Required</b>
                                            </div>
                                            <div *ngIf="stuName.errors?.['pattern']">
                                              <font color="red"><b>Invalid Student Name</b></font>
                                            </div>
                                          </div>     
                                </div>

                                <div class="form-group">
                                  <label for="Book Id">
                                      Book Id
                                  </label>
                                  <input type="number" 
                                         class="form-control" 
                                         name="bookId" 
                                         #bookId="ngModel" ngModel required pattern="[0-9]+"/>

                                         <div *ngIf="bookId.touched">
                                          <div *ngIf="bookId.errors?.['required']">
                                            <b style="color: red;">Book ID Required</b>
                                          </div>
                                          <div *ngIf="bookId.errors?.['pattern']">
                                            <font color="red"><b>Invalid Book ID</b></font>
                                          </div>
                                        </div>     
                              </div>

                              <div class="form-group">
                                <label for="Book Name">
                                    Book Name
                                </label>
                                <input type="text" 
                                       class="form-control" 
                                       name="bookname" 
                                       #bookname="ngModel" ngModel required pattern="[a-zA-Z]+"/>

                                       <div *ngIf="bookname.touched">
                                        <div *ngIf="bookname.errors?.['required']">
                                          <b style="color: red;">Book Name Required</b>
                                        </div>
                                        <div *ngIf="bookname.errors?.['pattern']">
                                          <font color="red"><b>Invalid Book Name</b></font>
                                        </div>
                                      </div>     
                            </div>



                                


                                <div class="form-group">
                                    <label for="Student Contact">
                                      Student Contact
                                    </label>
                                    <input type="number" 
                                           class="form-control" 
                                           name="stuContact" 
                                           #stuContact="ngModel" ngModel ngModel required pattern="[0-9]+"
                                           />
                                           <div *ngIf="stuContact.touched">
                                            <div *ngIf="stuContact.errors?.['required']">
                                              <b style="color: red;">Student Contact Required</b>
                                            </div>
                                            <div *ngIf="stuContact.errors?.['pattern']">
                                              <font color="red"><b>Invalid Student Contact</b></font>
                                            </div>
                                          </div>
                                </div>

                                                              
                                <button class="btn btn-success"(click)="insertEmployee(myForm.value)">
                                    Insert 
                                </button>
                            &nbsp;&nbsp;
                            <button class="btn btn-primary" (click)="updateEmployee(myForm.value)" >
                              Update 
                          </button>&nbsp;&nbsp;
                          <button class="btn btn-danger" (click)="deleteEmployee(myForm.value)">
                              Delete 
                          </button>&nbsp;&nbsp;
                          <button class="btn btn-warning"  (click)="findEmployee(myForm.value)">
                              Find 
                          </button>
                          &nbsp;&nbsp;
                          <button class="btn btn-info" (click)="findAllEmployee()">
                              Find All
                          </button>
                      </form>
                        </div>
                    </div>
                </div>
                <br>
                <h3>{{ result }}</h3>
                <div style="width: 100%;" *ngIf="flag">
                  <table width="80%" align="center" class="table table-borderd">
                   <tr><th>Student Id</th><th>Student Name</th><th>Book Id</th><th>Book Name</th><th>Student Contact</th></tr> 
                    <tr *ngFor="let emp of employeeArr">
                        <td> {{emp.id}} </td><td> {{emp.stuName}} </td><td> {{emp.bookId}} </td><td> {{emp.bookname}} </td><td> {{emp.stuContact}} </td>
                    </tr>
                 </table>
                 </div>
    </body> 
</html>